@font-face {
    font-family: "GothamPro";
    src: url("/styles/fonts/GothamPro/GothamPro.woff");
}

@font-face {
    font-family: "GothamPro-Light";
    src: url("/styles/fonts/GothamPro/GothamPro-Light.woff");
}

@font-face {
    font-family: "Lato";
    src: url("/styles/fonts/Lato/Lato-Medium.woff");
}

html,
body {
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

h1,
h2,
h3,
.slidershell__years-number {
    font-family: "GothamPro", sans-serif;
    font-weight: normal;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p{
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
}
span {
    font-family: "Lato", sans-serif;
    font-weight: normal;
}

.slide {
    background-image: url("../images/bg.png");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.scheme__arrow {
    position: absolute;
    background-image: url("/images/sld3/arrow.png");
    background-repeat: no-repeat;
    width: 4px;
    background-position: bottom;
}

.slide__navigation {
    position: fixed;
    bottom: 50%;
    right: 10px;
    display: flex;
    flex-direction: column;
}

.slide__navigation-button {
    background-color: #fff;
    width: 13px;
    height: 13px;
    border: none;
    border-radius: 7px;
    margin-bottom: 7px;
}

.slide__navigation-button:focus {
    outline: 0;
}

.slide__navigation-button.active {
    background-color: #f78b1f;
}

.slide__page-down {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.slide__page-down-text {
    text-align: center;
    color: #fff;
    position: absolute;
    width: 100%;
    bottom: 36px;
}

.slide__page-down-arrow {
    position: absolute;
    bottom: 21px;
    width: 100%;
    height: 25px;
    display: inline-block;
    background: url(/images/arrow_page_down.png) no-repeat;
    background-position: center;
}

.slide__page-down-circle {
    position: absolute;
    width: 100%;
    height: 92px;
    bottom: 0;
    background: url(/images/ellipse.png) no-repeat;
    background-position: center;
}

.slide__page-down-rectangle {
    position: absolute;
    width: 100%;
    height: 109px;
    bottom: 0;
    background: url(/images/rectangle.png) no-repeat;
    background-position: center;
}

.slide > section {
    height: 768px;
}

@-webkit-keyframes pulse1 {
    0% {opacity: 0; -webkit-transform: scale(0);}
    33% {-webkit-transform: scale(1); opacity: 1;}
    66% {-webkit-transform: scale(2); opacity: 1;}
    100% {-webkit-transform: scale(3); opacity: 0;}
}
@-webkit-keyframes pulse2 {
    0% {-webkit-transform: scale(1); opacity: 1;}
    33% {-webkit-transform: scale(2); opacity: 1;}
    66% {-webkit-transform: scale(3); opacity: 0;}
    100% {opacity: 0; -webkit-transform: scale(0); }
    }
}
@-webkit-keyframes pulse3 {
    0% {-webkit-transform: scale(2); opacity: 1;}
    33% {-webkit-transform: scale(3); opacity: 0;}
    66% {opacity: 0; -webkit-transform: scale(0);}
    100% {-webkit-transform: scale(1); opacity: 1;}
}

@-webkit-keyframes pulse4 {
    0% {-webkit-transform: scale(3); opacity: 0;}
    33% {opacity: 0; -webkit-transform: scale(0);}
    66% {-webkit-transform: scale(1); opacity: 1;}
    100% {-webkit-transform: scale(2); opacity: 1;}
}

.pulse-point__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pulse-point__ring1,
.pulse-point__ring2,
.pulse-point__ring3,
.pulse-point__ring4{
    position: absolute;
    border: 1px #cd203e solid;
    border-radius: 50px;
    background-color: rgba(205, 32, 62, 0.2);
    width: 33%;
    height: 33%;
}

.pulse-point__ring1 {
    -webkit-animation: pulse1 2s linear infinite running;
}

.pulse-point__ring2 {
    -webkit-animation: pulse2 2s linear infinite running;
}

.pulse-point__ring3 {
    -webkit-animation: pulse3 2s linear infinite running;
}

.pulse-point__ring4 {
    -webkit-animation: pulse4 2s linear infinite running;
}

.slide__first,
.slide__second,
.slide__third {
    position: relative;
}

.slide__first > p {
    padding: 0;
    margin: 0;
}

.slide__title {
    position: absolute;
    font-size: 48px;
    font-family: "GothamPro", sans-serif;
    font-weight: normal;
    color: rgb(13, 49, 156);
    line-height: 1.2;
    text-align: left;
    left: 70px;
    top: 140px;
    width: 710px;
    z-index: 37;
}

.slide__text-gypo,
.slide__text-complications,
.slide__text-risks,
.slide__text-goal {
    position: absolute;
    color: rgb(13, 49, 156);
}

.slide__text-gypo {
    left: 232.541px;
    top: 380.589px;
}

.slide__text-complications {
    left: 385.908px;
    top: 488.589px;
}

.slide__text-risks {
    left: 796.391px;
    top: 471.589px;
}

.slide__text-goal {
    left: 629.045px;
    top: 263.089px;
}

.slide__text-gypo > .pulse-point__container {
    width: 27px;
    height: 27px;
    bottom: 10px;
    left: 42px;
}
.slide__text-complications > .pulse-point__container {
    width: 18px;
    height: 18px;
    bottom: 10px;
    left: 92px;
}
.slide__text-risks > .pulse-point__container {
    width: 18px;
    height: 18px;
    bottom: 12px;
    left: 24px;
}
.slide__text-goal > .pulse-point__container{
    width: 52px;
    height: 52px;
    bottom: 56px;
    left: -68px;
}

.slide__second-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 768px;
    width: 1024px;
    top: 200px;
}

.slide__second-title {
    width: 500px;
    height: 250px;
    line-height: 60px;
    font-family: "GothamPro-Light";
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.slide__second-ice1 {
    position: absolute;
    width: 41px;
    height: 38px;
    background: url('/images/sld2/ice1.png') no-repeat;
    background-size: auto;
    top: 161px;
    left: 82px;
}


.slide__second-ice2 {
    position: absolute;
    width: 103px;
    height: 102px;
    background: url('/images/sld2/ice2.png') no-repeat;
    background-size: auto;
    top: 443px;
    left: 232px;
}

.slide__second-ice3 {
    position: absolute;
    width: 97px;
    height: 98px;
    background: url('/images/sld2/ice3.png') no-repeat;
    background-size: auto;
    top: 573px;
    left: 701px;
}

.slide__second-ice4 {
    position: absolute;
    width: 154px;
    height: 218px;
    background: url('/images/sld2/ice4.png') no-repeat;
    background-size: auto;
    top: 27px;
    left: 870px;
}

.slide__third-wrapper {
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
}

.tab {
    color: #fff;
    position: relative;
    width: 1024px;
    height: 768px;
    flex: 0 0 100%;
    padding: 110px 0;
}

.tab__title {
    margin-left: 86px;
}

/* SLIDER */

.slider {
    position: absolute;
    left: 0px;
    top: 0px;
    overflow: visible;
    z-index: 100;
}

/* slidershell exists only
to provide a positioning context for the range input and other elements.*/
.slidershell {
    border: 0 none;
    position: absolute;
    left: 192px;
    bottom: 86px;
    overflow: visible;
}

/* .slidertrack is the visible track on which the user drags the thumb button. */
.slidertrack {
    position: absolute;
    background: #ccffff;
    opacity: 0.3;
}

/* .sliderfill adds color (or a gradient as seen here) to the track as the user
    drags the thumb. */
.sliderfill {
    position: absolute;
    pointer-events: none;
    background: #ccffff;
    border: 1px solid;
    border-color: rgba(209, 234, 255, 0.3);
}

/* .sliderthumb can be any css you like including an image.
    The dimensions must match those found in the rule for
    input[type=range]::-webkit-slider-thumb. */
.sliderthumb {
    width: 43px;
    height: 56px;
    background-image: url("/images/sld3/slider.png");
    background-size: 43px 56px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-color: transparent;
    position: absolute;
    left: 0px;
    top: 0px;
    border: 0 none;
    padding: 0px;
    margin: 0px;
    text-align: center;
    pointer-events: none;
}


/* First we have to make transparent all the default elements of the range input.
    We use color:transparent to eliminate the default tick marks in IE. */

input[type=range] {
    width:100%;
    height:100%;
    -webkit-appearance:none;
    margin:0px;
    padding:0px;
    border:0 none;
    background:transparent;
    color:transparent;
    overflow:visible;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background:transparent;
    border:transparent;
}
input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    width:40px;
    height:40px;
    border-radius:0px;
    border:0 none;
    background:transparent;
    -webkit-appearance:none;
}

.slidershell__years {
    position: absolute;
    bottom: -62px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 20px;
}

/* SLIDER END*/

/* THIRD SLIDE FIRST TAB */

.slide__third-title {
    font-size: 30px;
}

.tab1 > .scheme {
    width: 584px;
    height: 330px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.tab1 .scheme__elem.betacells {
    flex: 1 100%;
    position: relative;
}

.tab1 .scheme__elem.musle {
    order: 1;
    margin-right: 60px;
}

.scheme__elem {
    display: flex;
    flex-flow: column;

}

.tab1 .scheme__elem.liver {
    order: 3;
    margin-left: 60px;
}

.scheme__rectangle {
    border: 1px solid;
    position: relative;
}

.tab1 .scheme__rectangle {
    width: 245px;
    height: 90px;
    order: 2;
    flex: 2;
}

.scheme__elem {
    width: 110px;
    height: 170px;
    text-align: center;
    position: relative;
}

.scheme__number {
    font-size: 36px;
}

.scheme__elem-title {
    font-size: 22px;
    text-align: center;
    margin: 0px auto 5px;
}

.scheme__circle {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    border-radius: 50px;
    background-color: rgb(255, 255, 255, 0.1);
    background-position: center;
    background-repeat: no-repeat;
}

.musle > .scheme__circle {
    background-image: url("/images/sld3/musle.png");
}

.liver > .scheme__circle {
    background-image: url("/images/sld3/liver.png");
    background-position: 60% 60%;
}


.scheme__circle-text {
    font-size: 66px;
    line-height: 70px;
    font-weight: bold;
}

.scheme__rectangle-text {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab1 .arrow__1-to-2 {
    width: 4px;
    height: 200px;
    position: absolute;
    background-position: bottom;
    transform: rotate(45deg);
    left: 173px;
    bottom: -145px;
}

.tab1 .arrow__1-to-3 {
    width: 4px;
    height: 200px;
    position: absolute;
    background-position: bottom;
    transform: rotate(-45deg);
    right: 173px;
    bottom: -145px;
}

.tab1 .arrow__1-to-rectangle {
    width: 4px;
    height: 60px;
    position: absolute;
    background-position: bottom;
    right: 50%;
    bottom: -70px;
}

.tab1 .arrow__2-to-rectangle {
    width: 4px;
    height: 60px;
    position: absolute;
    background-position: bottom;
    transform: rotate(-90deg);
    bottom: 10px;
    right: -26px;
}

.tab1 .arrow__3-to-rectangle {
    width: 4px;
    height: 60px;
    position: absolute;
    background-position: bottom;
    transform: rotate(90deg);
    bottom: 10px;
    left: -26px;
}
/* END THIRD SLIDE FIRST TAB */

/* THIRD SLIDE SECOND TAB */

.tab2 > .scheme {
    width: 810px;
    height: 520px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    justify-content: center;
}

.tab2 .scheme__circle {
    width: 60px;
    height: 60px;
}

.lipocells > .scheme__circle {
    background-image: url("/images/sld3/lipid.png");
}
.brain > .scheme__circle {
    background-image: url("/images/sld3/brain.png");
}
.renal > .scheme__circle {
    background-image: url("/images/sld3/renal.png");
}

.tract > .scheme__circle {
    background-image: url("/images/sld3/tract.png");
}

.stomach > .scheme__circle {
    background-image: url("/images/sld3/stomach.png");
}

.infection > .scheme__circle {
    background-image: url("/images/sld3/infection.png");
}



.stomach > .scheme__circle {
    background-image: url("/images/sld3/stomach.png");
}

.tab2 .musle > .scheme__circle {
    background-size: 56px 36px;
}

.tab2 .liver > .scheme__circle {
    background-size: 45px 40px;
}

.tab2 .scheme__rectangle {
    width: 386px;
    height: 141px;
    order: 5;
    margin: 30px 40px;
    height: 130px;
}

.tab2 .scheme__elem.betacells {
    order: 2;
    justify-content: flex-end;
}

.tab2 .scheme__elem.effect,
.tab2 .scheme__elem.defect {
    display: flex;
    flex-flow: row;
    width: 210px;
    height: 60px;
}

.tab2 .scheme__elem.effect > .scheme__elem-title,
.tab2 .scheme__elem.defect > .scheme__elem-title {
    font-size: 20px;
    width: 140px;
}

.tab2 .scheme__elem.effect .scheme__circle-text,
.tab2 .scheme__elem.defect .scheme__circle-text {
    font-size: 36px;
    font-weight: lighter;
}

.tab2 .scheme__elem.defect > .scheme__circle,
.tab2 .scheme__elem.effect > .scheme__elem-title{
    order: 1;
}

.tab2 .scheme__elem.effect > .scheme__circle,
.tab2 .scheme__elem.defect > .scheme__elem-title{
    order: 2;
}

.tab2 .scheme__elem.defect > .scheme__elem-title {
    text-align: left;
}

.tab2 .scheme__elem.effect > .scheme__elem-title{
    text-align: right;
}


.tab2 .scheme__elem.effect .scheme__circle-text,
.tab2 .scheme__elem.defect .scheme__circle-text,
.tab2 .scheme__elem.betacells .scheme__circle-text {
    line-height: 60px;
    text-align: center;
}

.tab2 .scheme__elem.effect {
    order: 1;
    margin-right: 70px;
}

.tab2 .scheme__elem.defect {
    order: 3;
    margin-left: 70px;
}

.tab2 .scheme__elem.lipocells,
.tab2 .scheme__elem.renal{
    width: 170px;
    height: 100px;
    display: flex;
    flex-flow: row wrap;
    align-self: center;
    margin-top: 60px;
}

.tab2 .scheme__elem.lipocells {
    order: 6;
    text-align: left;
}

.tab2 .scheme__elem.renal {
    order: 4;
    text-align: right;
    justify-content: flex-end;
}

.tab2 .lipocells .scheme__elem-title {
    text-align: left;
}
.tab2 .renal .scheme__elem-title {
    text-align: right;
}

.tab2 .lipocells .scheme__elem-wrap {
    max-width: 80px;
    order: 2;
}

.tab2 .scheme__elem-wrap .scheme__number{
    line-height: 55px;
}

.tab2 .lipocells .scheme__circle {
    order: 1;
}

.tab2 .renal .scheme__circle  {
    margin: 0 0 0 10px;
}

.tab2 .lipocells .scheme__circle {
    margin: 0 10px 0 0;
}

.tab2 .scheme__elem.musle {
    order: 9;
}

.tab2 .scheme__elem.liver {
    order: 8;

}

.tab2 .scheme__elem.brain {
    order: 7;
}

.tab2 .scheme__elem.musle > .scheme__circle,
.tab2 .scheme__elem.liver > .scheme__circle,
.tab2 .scheme__elem.brain > .scheme__circle {
    order: 1;
}

.tab2 .scheme__elem.musle > .scheme__number,
.tab2 .scheme__elem.liver > .scheme__number,
.tab2 .scheme__elem.brain > .scheme__number {
    order: 2;
}

.tab2 .scheme__elem.musle > .scheme__elem-title,
.tab2 .scheme__elem.liver > .scheme__elem-title,
.tab2 .scheme__elem.brain > .scheme__elem-title {
    order: 3;
}

.tab2 .scheme__circle {
    position: relative;
}

/* .tab2 .arrow__1-to-rectangle,
.tab2 .arrow__2-to-rectangle,
.tab2 .arrow__3-to-rectangle,
.tab2 .arrow__4-to-rectangle,
.tab2 .arrow__5-to-rectangle,
.tab2 .arrow__6-to-rectangle,
.tab2 .arrow__7-to-rectangle,
.tab2 .arrow__8-to-rectangle {
    position: absolute;
    background-image: url("/images/sld3/arrow.png");
    background-repeat: no-repeat;
    width: 4px;
    background-position: bottom;
} */

.tab2 .arrow__1-to-rectangle,
.tab2 .arrow__2-to-rectangle,
.tab2 .arrow__3-to-rectangle {
    height: 30px;
    bottom: -30px;
    left: 28px;
}

.tab2 .arrow__5-to-rectangle,
.tab2 .arrow__6-to-rectangle,
.tab2 .arrow__7-to-rectangle {
    height: 30px;
    transform: rotate(180deg);
    top: -30px;
    left: 28px;
}

.tab2 .arrow__4-to-rectangle {
    height: 40px;
    background-position: bottom;
    transform: rotate(90deg);
    top: 10px;
    left: -22px;
}

.tab2 .arrow__8-to-rectangle {
    height: 40px;
    background-position: bottom;
    transform: rotate(-90deg);
    top: 10px;
    right: -22px;
}

/* END THIRD SLIDE SECOND TAB */

/* THIRD SLIDE THIRD TAB */

.tab3 .scheme {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.tab3 .scheme__circle {
    width: 60px;
    height: 60px;
    margin: 0 10px;
}

.tab3 .scheme__elem-title {
    font-size: 20px;
}

.scheme__leftside {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
}

.scheme__leftside .scheme__elem,
.scheme__middleside .renal {
    width: 300px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-top: 15px;
    text-align: right;
    justify-content: flex-end;
}

.scheme__leftside .scheme__elem-title,
.scheme__middleside .renal .scheme__elem-title {
    text-align: right;
}

.scheme__leftside .scheme__elem-wrap,
.scheme__middleside .renal  {
    max-width: 220px;
}

.scheme__leftside .scheme__elem-wrap .scheme__number,
.scheme__middleside .renal .scheme__number {
    line-height: 36px;
}

.scheme__leftside .scheme__circle
.scheme__middleside .renal .scheme__circle {
    margin: 10px 0 0 10px;
}

.scheme__elem-text-with-arrow {
    font-size: 15px;
    width: 100%;
    text-align: right;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

.scheme__elem-text-with-arrow.amilin p {
    text-align: right;
    margin: 0 10px;
    font-size: 15px;
}

.scheme__middleside {
    width: 350px;
    height: 470px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 8px 15px;
}

.scheme__middleside .betacells {
    flex: 1 100%;
    height: 120px;
}

.scheme__middleside .betacells .scheme__circle {
    width: 82px;
    height: 82px;
    margin: 0 auto;
}

.scheme__middleside .betacells .scheme__elem-wrap {
    display: flex;
    justify-content: center;
}

.scheme__middleside .betacells .scheme__elem-number,
.scheme__middleside .betacells .scheme__elem-title {
    line-height: 36px;
}

.scheme__middleside .betacells .scheme__elem-title {
    margin: 0 0 0 15px;
}

.scheme__middleside .effect,
.scheme__middleside .defect {
    flex: 2;
}

.scheme__middleside .scheme__elem-text-with-arrow {
    flex: 1 100%;
    align-self: end;
    position: relative;
}

.scheme__elem-text-with-arrow.glukagon p {
    text-align: right;
    margin: 0 78px 0 0;
    font-size: 15px;
}

.scheme__middleside .scheme__text-elem {
    text-align: center;
    flex: 1 100%;
    margin-top: 10px;
    position: relative;
}


.scheme__middleside .scheme__text-elem > p {
    text-align: center;
    font-size: 25px;
    line-height: 1;
    margin: 0;
}


.scheme__middleside .effect {
    margin-right: 26px;
}

.scheme__middleside .effect,
.scheme__middleside .defect {
    max-height: 90px;
    margin-top: 75px;
}

.scheme__middleside .effect,
.scheme__middleside .effect .scheme__elem-title {
    text-align: right;
}

.scheme__middleside .defect,
.scheme__middleside .defect .scheme__elem-title {
    text-align: left;
}

.scheme__middleside .renal {
    justify-content: start;
    padding: 25px 12px;
}

.scheme__rightside {
    width: 260px;
    margin-top: 75px;
}

.scheme__rightside .scheme__elem {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    margin-top: 15px;
    text-align: right;
    justify-content: flex-end;
}

.scheme__rightside .scheme__elem-title {
    text-align: left;
}

.scheme__rightside .scheme__elem-wrap {
    max-width: 240px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.scheme__rightside .scheme__elem-wrap .scheme__number {
    line-height: 36px;
}


.scheme__elem-container {
    width: 260px;
    height: 325px;
    position: relative;
    margin-top: 25px;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    background: linear-gradient(160deg, rgba(255,255,255,0.2), rgba(255,255,255,0) 55%);
}

.tab3 .liver .scheme__circle {
    background-size: 45px 40px;
}

.tab3 .musle .scheme__circle {
    background-size: 56px 36px;
}

.scheme__elem-container-title {
    font-size: 15px;
    text-align: center;
    margin: 0;
}

.tab3 .arrow__8-to-1 {
    height: 120px;
    transform: rotate(-100deg);
    top: -40px;
    right: -70px;
}

.tab3 .arrow__9-to-1 {
    height: 160px;
    transform: rotate(-118deg);
    top: -100px;
    right: -75px;
}

.tab3 .arrow__amilin-to-10  {
    height: 23px;
    right: 37px;
    top: 25px;
}

.tab3 .arrow__amilin-to-gyper {
    height: 110px;
    transform: rotate(-66deg);
    right: -44px;
    top: -3px;
}

.tab3 .arrow__10-to-gyper {
    height: 90px;
    transform: rotate(-90deg);
    right: -48px;
    top: -12px;
}

.tab3 .arrow__1-to-8 {
    height: 120px;
    transform: rotate(80deg);
    top: 30px;
    left: 48px;
}

.tab3 .arrow__1-to-9 {
    height: 160px;
    transform: rotate(62deg);
    left: 50px;
    top: 70px;
}

.tab3 .arrow__1-to-amilin {
    height: 145px;
    width: 185px;
    left: -50px;
    top: 125px;
    background-image: url(/images/sld3/arrow1-amilin.png);
}

.tab3 .arrow__1-to-2  {
    height: 60px;
    left: 153px;
    top: 133px;
}

.tab3 .arrow__1-to-gyper {
    height: 220px;
    left: 174px;
    top: 130px;
}

.tab3 .arrow__1-to-3 {
    height: 60px;
    left: 196px;
    top: 133px;
}

.tab3 .arrow__1-to-container {
    height: 160px;
    transform: rotate(-62deg);
    right: 50px;
    top: 70px;
}

.tab3 .arrow__1-to-7 {
    height: 120px;
    transform: rotate(-80deg);
    top: 30px;
    right: 48px;
}

.tab3 .arrow__2-to-gyper {
    height: 60px;
    left: 152px;
    top: 95px;
}

.tab3 .arrow__3-to-glukagon {
    height: 21px;
    left: 9px;
    top: 76px;
}

.tab3 .arrow__glukagon-to-gyper {
    height: 21px;
    left: 196px;
    top: 24px;
}

.tab3 .arrow__gyper-to-11 {
    height: 30px;
    left: 185px;
    top: 27px;
}

.tab3 .arrow__11-to-gyper {
    height: 30px;
    transform: rotate(180deg);
    left: 98px;
    top: -15px;
}

.tab3 .arrow__7-to-1 {
    height: 120px;
    transform: rotate(100deg);
    top: -40px;
    left: -70px;
}

.tab3 .arrow__container-to-1 {
    height: 160px;
    transform: rotate(118deg);
    top: -100px;
    left: -75px;
}

.tab3 .arrow__7-to-container {
    height: 25px;
    left: 95px;
    top: 66px;
}

.tab3 .arrow__container-to-7 {
    height: 25px;
    transform: rotate(180deg);
    left: 81px;
    top: -36px;
}
/* END THIRD SLIDE THIRD TAB */

.tab1__ice1,
.tab1__ice2,
.tab1__ice3,
.tab2__ice1,
.tab2__ice2,
.tab2__ice3,
.tab3__ice1,
.tab3__ice2,
.tab3__ice3 {
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.5;
}

.tab1__ice1 {
    background-image: url("/images/sld3/tab1/ice1.png");
    width: 230px;
    height: 218px;
    top: 546px;
    left: 14px;
}
.tab1__ice2 {
    background-image: url("/images/sld3/tab1/ice2.png");
    width: 107px;
    height: 102px;
    top: 227px;
    left: 665px;
}
.tab1__ice3 {
    background-image: url("/images/sld3/tab1/ice3.png");
    width: 38px;
    height: 39px;
    top: 112px;
    left: 911px;
}
.tab2__ice1 {
    background-image: url("/images/sld3/tab2/ice1.png");
    width: 107px;
    height: 102px;
    top: 238px;
    left: 45px;
}
.tab2__ice2 {
    background-image: url("/images/sld3/tab2/ice2.png");
    width: 39px;
    height: 39px;
    top: 93px;
    left: 473px;
}
.tab2__ice3 {
    background-image: url("/images/sld3/tab2/ice3.png");
    width: 218px;
    height: 216px;
    top: 564px;
    left: 810px;
}
.tab3__ice1 {
    background-image: url("/images/sld3/tab3/ice1.png");
    width: 39px;
    height: 39px;
    top: 108px;
    left: -5px;
    opacity: 1;
}
.tab3__ice2 {
    background-image: url("/images/sld3/tab3/ice2.png");
    width: 206px;
    height: 216px;
    top: 581px;
    left: 146px;
    opacity: 1;
}
.tab3__ice3 {
    background-image: url("/images/sld3/tab3/ice3.png");
    width: 107px;
    height: 102px;
    top: 211px;
    left: 936px;
    opacity: 1;
}
